button {
    border: none;
    background-color: rgb(217,221,224);
    font-size: 24px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(164, 167, 169);
  }
  
  .equals {
    background-color: rgb(29, 115, 243);
  }
  
  .equals:hover {
    background-color: rgb(10, 65, 142);
  }